---
layout: default
---
<div class="sidenav-top">
  <div class="sidenav-brand bg-light">
    <a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/assets/img/gem5ColorLong.gif' | prepend: site.baseurl }}" height="55px"></a>
  </div>
  <div class="search">
    <form action="{{ '/search' | prepend: site.baseurl }}" method="get">
      <!-- <label for="search-box"><i class="fa fa-search"></i></label> -->
      <input type="text" name="query">
      <button type="submit" name="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<div class="sidenav">
  <!-- 导航来自 _data/documentation.yml；以 http(s):// 开头的条目是站外链接，不拼接 baseurl -->
  {% for doc in site.data.documentation.docs %}
    {% if doc.title == page.doc %}
    {% for item in doc.items %}
      {% if item.url %}
        {% if item.url contains '://' %}{% assign item_href = item.url %}{% else %}{% assign item_href = item.url | prepend: site.baseurl %}{% endif %}
        <a class="item" href="{{ item_href }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      {% else %}
        <a class="item" data-toggle="collapse" href="#{{ item.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      {% endif %}
        {{ item.title }}
      </a>
      <div class="collapse {% if page.parent == item.id %}show{% endif %}" id="{{ item.id }}">
        {% for subitem in item.subitems %}
          {% if subitem.url contains '://' %}{% assign sub_href = subitem.url %}{% else %}{% assign sub_href = subitem.url | prepend: site.baseurl %}{% endif %}
          <a class="subitem {% if subitem.page == page.title %}active{% endif %}" href="{{ sub_href }}">{{ subitem.page }}</a>
        {% endfor %}
      </div>
    {% endfor %}
    {% endif %}
  {% endfor %}
</div>


<div class="container" id="doc-container">
  <!-- 中文译文的对应英文源文，位于上游仓库 -->
  <div class="edit"><a href="{{ site.english_repo }}/blob/{{ site.english_branch }}/{{ page.path }}">查看英文源文</a></div>
  {% if page.author %}<b>作者：</b> {{ page.author }}<br>{% endif %}
  {% if page.date %}<b>最后编辑：</b> {{ page.date }}<br>{% endif %}

  <br>
  {{ content }}
  <br>

  <!-- 取得上一页链接 -->
  {% for item in site.data.documentation.docs %}
    {% if page.parent == item.id %}
      {% assign previous = "none" %}
      {% if item.subitems %}
        {% for subitem in item.subitems %}
          {% if page.title == subitem.page %}
            {% break %}
          {% else %}
            {% assign previous = subitem.url %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- 取得下一页链接 -->
  {% for item in site.data.documentation.docs %}
    {% if page.parent == item.id %}
      {% assign next = "none" %}
      {% if item.subitems %}
        {% for subitem in item.subitems reversed %}
          {% if page.title == subitem.page %}
            {% break %}
          {% else %}
            {% assign next = subitem.url %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
  <div class="navbuttons">
    {% if page.previous.url %}
      <a class="prev" href="{{ page.previous.url | prepend: site.baseurl }}"><button type="button" class="btn btn-outline-primary">上一页</button></a>
    {% endif %}
    {% if page.next.url %}
     <a class="next" href="{{ page.next.url | prepend: site.baseurl }}"><button type="button" class="btn btn-outline-primary">下一页</button></a>
    {% endif %}
  </div>
</div>
