<footer class="page-footer">
	<div class="container">
		<div class="row">

			<div class="col-12 col-sm-4">
				<p>gem5</p>
				<p><a href="{{ '/about' | prepend: site.baseurl }}">关于</a></p>
				<p><a href="{{ '/publications' | prepend: site.baseurl }}">论文发表</a></p>
				<p><a href="{{ '/contributing' | prepend: site.baseurl }}">贡献指南</a></p>
				<p><a href="{{ '/governance' | prepend: site.baseurl }}">项目治理</a></p>
			<br></div>

			<div class="col-12 col-sm-4">
				<p>文档</p>
				<p><a href="{{ '/documentation' | prepend: site.baseurl }}">文档</a></p>
				<p><a href="http://gem5.org/Documentation">旧版文档</a></p>
				<p><a href="https://github.com/gem5/gem5">源代码</a></p>
			<br></div>

			<div class="col-12 col-sm-4">
				<p>帮助</p>
				<p><a href="{{ '/search' | prepend: site.baseurl }}">搜索</a></p>
				<p><a href="{{ '/ask-a-question' | prepend: site.baseurl }}">提问</a></p>
				<p><a href="{{ site.sourceurl }}">英文源文（website）</a></p>
			<br></div>

		</div>
	</div>
</footer>
